@import url(header.css);
@import url(cabecalho.css);
@import url(metricas.css);
@import url(vagas.css);
@import url(depoimentos.css);
@import url(footer.css);

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.otf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/Inter-SemiBold.otf') format('truetype');
    font-weight: 600;
}

:root {
    --branco: #FFFFFF;
    --cinza: #667085;
    --cinza-claro: #EAECF0;
    --cinza-rodape: #F9FAFB;
    --vermelho: #8E2424;
    --cinza-azulado: #101828;
    --vermelho-backgroud: #8E24240D;
    --vermelho-backgroud-depoimentos: #C3191908;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    font-size: 1rem;
    font-family: 'Inter Regular';
    font-weight: 500;
}