.vagas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 6em 0;
}

.vagas__talentos--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25em;
    width: 95%;
}

.vagas__talentos--span {
    color: var(--vermelho);
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1em;
    background-color: var(--vermelho-backgroud);
}

.vagas__talentos--titulo {
    font-family: 'Inter SemiBold';
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.7px;
}

.vagas__talentos--paragrafo {
    color: var(--cinza);
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.vagas__talentos--imagem {
    width: 95%;
    margin-top: 5%;
}

.vagas__disponiveis {
    width: 100%;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas__disponiveis__area {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    text-align: start;
    gap: 2em;
    margin-top: 4%;
}

.vagas__disponiveis--titulo {
    font-size: 1.25rem;
}

.vaga {
    border-radius: 16px;
    padding: 1.5em 1.5em 1.75em 1.5em;
    font-family: 'Inter Medium';
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid var(--cinza-claro)
}

.titulo-vaga {
    font-size: 1.125rem;
}

.informacoes {
    display: flex;
    gap: 1em;
    color: var(--cinza)
}